/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*@font-face {
     font-family: Cinzel-Regular;
     src: url(Cinzel-Regular.tff);
 }*/


/*body {
  font-family: 'Josefin Sans', sans-serif;
}*/
/*
body {
  font-family: Cinzel-Regular;
}*/


a {
  text-decoration: none;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
a:hover, a:focus, a:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}


body {
  font-family: 'Amatic SC', cursive;
  background: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1, h3, p, label {
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 5vw;
}

h3 {
  font-size: 3.5vw;
}

p, label, a {
  font-size: 2vw;
}

.card {
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 25%
}
