/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*@font-face {
     font-family: Cinzel-Regular;
     src: url(Cinzel-Regular.tff);
 }*/


/*body {
  font-family: 'Josefin Sans', sans-serif;
}*/
/*
body {
  font-family: Cinzel-Regular;
}*/


a {
  text-decoration: none;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

a:hover, a:focus, a:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}

body {
  font-family: 'Amatic SC', cursive;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-family: 'Amatic SC', cursive;

  text-align: center;
  font-size: 4.5vh;
}

h3, p, label, h1 {
  font-weight: normal;
  color: white;
}

h1 {
  font-size: 12vh;
}

h3 {
  font-size: 6vh;
}

p, label, a, li {
  font-size: 5vh;
}


.card {
  margin: 8vh 2vh 2vh 2vh;
  text-align: center;
  width: 25%
}


.navbar {
  position: absolute;
  top: 0;
}

.top {
  position: absolute;
  top: 10%;
}

.flash-success {
  color: green;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.flash-fail {
  color: red;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.question {
  position: absolute;
  top: 30%;
  width: 60%;
  text-align: center;
}

.bottom {
  position: absolute;
  bottom: 10%;
}

li {
  padding: 2vw;
  margin: 2vw;
  display: inline;
  color: white;
}

.navbar li {
  padding: 3.5vw;
  margin: 3.5vw;
}


@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

input[type="text"] {
  border: solid 1vh white;
  border-radius: 3vh;
  box-shadow: 0 0 5px 1px white;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px 2px white;
}


@-webkit-keyframes fadeOut {
   0% {opacity: .9;}
   100% {opacity: 0;}
}

@keyframes fadeOut {
   0% {opacity: .9;}
   100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-duration: .5s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
